$off-white: #fafafa;
$azure: #0290ff;
<<<<<<< HEAD
$medium-blue: #307bbe;
$light-blue: #379cf6;
=======
>>>>>>> 266c089f19f4621e96b2306982db5e8493525d3f
$white: #fff;
$light-gray: #e0e0e0;
$black: #121212;
$cool-blue: #4386bf;
<<<<<<< HEAD
$chart-color: linear-gradient(to bottom, $medium-blue, $light-blue);
=======
>>>>>>> 266c089f19f4621e96b2306982db5e8493525d3f
