$off-white: #fafafa;
$azure: #0290ff;
$medium-blue: #307bbe;
$light-blue: #379cf6;
$white: #fff;
$light-gray: #e0e0e0;
$black: #121212;
$cool-blue: #4386bf;
$chart-color: linear-gradient(to bottom, $medium-blue, $light-blue);
