/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator */
@use './fonts.scss' as font;
@use '_colors.scss' as color;

/* Global styles
------------------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Default font size */
  font-size: 16px;
}

body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: font.$primary-ff;
  background-color: color.$off-white;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-inline: auto;

  & > * {
    max-width: 100%;
  }

  & > main {
    margin-block: 0 auto;
  }

  & > :first-child:not(main) {
    margin-block-start: 0;
  }

  & > :last-child:not(main) {
    margin-block-end: 0;
  }
}
